* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

#wrapper {
    margin: 0 auto; 
    padding: 50px 400px; 
}

.main {
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding: 20px; 
    border-style: solid;
    border-color: white;
    background-color: white;
}

.main-inner {
    background-color: white;
    padding: 30px;
    text-align: center;
    border-radius: 3%;
    margin: 10px; 
}



.icons-bar {
    display: flex;
    justify-content: space-between;
}

.icon {
    width: 50px; 
    padding: 20px; 
}

.color {
    color: darkcyan;
}

.bold {
    font-size: 30px;
}

.description {
    text-align: left;
    padding: 3px 20px; 
}

hr {
    margin: 20px 0;
    border-radius: 50%;
}

.title {
    padding: 20px, 30px; 
    font-size: 30px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    font-family: 'Nunito Sans', sans-serif;
}

.btn {
    border: 3px solid black;
    border-radius: 5px;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    font-family: 'Nunito Sans', sans-serif;
    cursor: pointer;
  }
  
  /* Green */
  .options {
    border-color: #016440;
    color: black;
  }
  
  .options:hover {
    background-color: #016440;
    color: white;
  }
  

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;

  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 16px;
    transition: 0.3s;
    width: 250px;
    height: 100px;
  }

  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 20px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }



  #header-icons .material-icons {
    color: var(--popup-accent-color);
}
.material-icons {
    font-family: "Material Icons";
}
.material-icons {
    color: #999;
    cursor: pointer;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
}