* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

#wrapper {
    margin: 0 auto; 
    padding: 50px 400px; 
}

.main {
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding: 20px; 
    border-style: solid;
    border-color: black;
    background-color: pink;
}

.main-inner {
    background-color: white;
    padding: 30px;
    text-align: center;
    border-radius: 3%;
    margin: 10px; 
}

.title {
    padding: 20px, 30px; 
    font-size: 40px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.icons-bar {
    display: flex;
    justify-content: space-between;
}

.icon {
    width: 100px; 
    padding: 20px; 
}

.color {
    color: darkcyan;
}

.bold {
    font-size: 30px;
}

.description {
    text-align: left;
    padding: 3px 20px; 
}

hr {
    margin: 20px 0;
    border-radius: 50%;
}


.button {
    border: none;
    border-radius: 12px;
    color: #000000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Nunito Sans', sans-serif;
    background-color: #00DB7F;
}

.button:hover {
    background-color: #1b867d; /* hover background color Teal */
    color: white;
}